@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px auto;
}

header .logo {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 1px black, -1px -1px 1px red, -1px 1px 1px black, 1px -1px 1px red;
  transition: all 0.5s ease;
}

header .logo:hover {
  text-shadow: 2px 2px 2px black, -2px -2px 2px red, -2px 2px 2px black, 2px -2px 2px red;
}

header .search-bar {
  font-family: "Poppins", sans-serif;
}

header .search-bar #searcher {
  width: 290px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-right: 30px;
  transition: all 0.5s ease;
}

header .search-bar #searcher:hover {
  width: 350px;
}

header .search-bar .search-btn {
  color: #f60;
  font-size: 18px;
  border: 1px solid;
  padding: 12px 20px;
  font-weight: 500;
  transition: all 0.5s ease;
}

header .search-bar .search-btn:hover {
  color: white;
  background-color: #f60;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px auto;
}

nav .nav-links {
  font-family: "Poppins", sans-serif;
}

nav .nav-links ul {
  display: flex;
}

nav .nav-links ul li {
  margin-right: 40px;
}

nav .nav-links ul li a {
  font-size: 30px;
  color: #f60;
  font-weight: 600;
  transition: all 0.5s ease;
}

nav .nav-links ul li a:hover {
  filter: brightness(80%);
}

.line {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 45%;
  border: 1px solid black;
}

.line-vertical {
  display: inline;
  border: 1px dashed grey;
  margin: 0 30px;
}

.top-teachers {
  width: 80%;
  margin: 30px auto;
}

.top-teachers .teachers-title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.top-teachers .sorter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  margin: 40px auto;
}

.top-teachers .sorter form label {
  font-size: 20px;
  margin: 0 20px;
  color: grey;
}

.top-teachers .sorter form select {
  font-size: 17px;
  padding: 10px;
  border-radius: 3px;
}

.top-teachers .teachers-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.top-teachers .teachers-grid .grid-item {
  text-align: center;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
}

.top-teachers .teachers-grid .grid-item img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid #ff9cad;
  transition: all 0.5s ease;
}

.top-teachers .teachers-grid .grid-item img:hover {
  border-color: #b8384d;
}

.top-teachers .teachers-grid .grid-item h2 {
  font-size: 30px;
}

.top-teachers .teachers-grid .grid-item h3 {
  font-size: 20px;
  color: grey;
  font-weight: 100;
}

.top-teachers .teachers-grid .grid-item h4 {
  font-size: 15px;
  font-weight: 100;
}

.statistics {
  width: 80%;
  margin: 30px auto;
}

.statistics .stat-title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.statistics .stat-data table {
  width: 100%;
  margin: 30px auto;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
}

.statistics .stat-data table thead,
.statistics .stat-data table th {
  border-bottom: 1px solid black;
}

.statistics .stat-data table thead th,
.statistics .stat-data table th th {
  font-size: 25px;
  padding: 6px 0;
}

.statistics .stat-data table thead th:hover,
.statistics .stat-data table th th:hover {
  background-color: #f0f0f0;
  border-bottom: 2px solid;
}

.statistics .stat-data table thead th:hover::after,
.statistics .stat-data table th th:hover::after {
  display: inline;
  margin: 6px 10px;
}

.statistics .stat-data table tbody {
  text-align: center;
}

.statistics .stat-data table tbody tr:nth-child(even) {
  background-color: #feeaff;
}

.statistics .stat-data table tbody td {
  padding: 10px;
}

.statistics .pagination {
  font-family: "Poppins", sans-serif;
}

.statistics .pagination a {
  color: #8ba2b6;
  margin: 0 10px;
}

.statistics .pagination .active {
  color: black;
}

.favorites {
  width: 80%;
  margin: 30px auto;
}

.favorites .favorites-title {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.favorites .favorites-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.favorites .favorites-grid .grid-item {
  text-align: center;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
}

.favorites .favorites-grid .grid-item img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid #ff9cad;
  transition: all 0.5s ease;
}

.favorites .favorites-grid .grid-item img:hover {
  border-color: #b8384d;
}

.favorites .favorites-grid .grid-item h1 {
  font-size: 30px;
}

.favorites .favorites-grid .grid-item h3 {
  font-size: 20px;
  font-weight: 100;
}

footer {
  width: 80%;
  margin: 30px auto;
}

footer .footer-content {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 35px;
}

.popup-checkbox,
.popup {
  display: none;
}

.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup:before {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.popup .popup-content {
  width: 600px;
  height: 850px;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  font-family: "Poppins", sans-serif;
}

.popup .popup-content .popup-closer {
  position: absolute;
  top: 15px;
  right: 40px;
  color: white;
  font-size: 50px;
  font-weight: 900;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.popup .popup-content .popup-closer:hover {
  transform: scale(1.3);
}

.popup .popup-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
  background-color: grey;
  color: white;
  padding: 20px;
}

.popup .popup-content form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.popup .popup-content form label {
  font-size: 20px;
  margin: 10px 0 5px 0;
}

.popup .popup-content form input {
  border: 1px solid;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
}

.popup .popup-content form select {
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
}

.popup .popup-content form .country-section {
  margin: 10px 0;
}

.popup .popup-content form .country-section select {
  margin-right: 10px;
}

.popup .popup-content form .contact-section {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.popup .popup-content form .contact-section input {
  width: 35%;
}

.popup .popup-content form .gender-section input {
  margin-right: 20px;
}

.popup .popup-content form input[type=color] {
  padding: 0;
}

.popup .popup-content form textarea {
  resize: none;
  padding: 8px;
  font-size: 18px;
}

.popup .popup-content form input[type=submit] {
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #f60;
  background-color: white;
  color: #f60;
}

.popup-shower {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #f60;
  border: 1px solid;
  padding: 10px 30px;
  transition: all 0.5s ease;
}

.popup-shower:hover {
  color: white;
  background-color: #f60;
}

.popup-wrapper2 .popup-checkbox2,
.popup-wrapper2 .popup2 {
  display: none;
}

.popup-wrapper2 .popup-checkbox2:checked + .popup2 {
  opacity: 1;
  display: block;
}

.popup-wrapper2 .popup2 {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup-wrapper2 .popup2:before {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.popup-wrapper2 .popup2 .popup-content2 {
  width: 900px;
  height: 600px;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  font-family: "Poppins", sans-serif;
}

.popup-wrapper2 .popup2 .popup-content2 .popup-closer2 {
  position: absolute;
  top: 15px;
  right: 40px;
  color: white;
  font-size: 50px;
  font-weight: 900;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.popup-wrapper2 .popup2 .popup-content2 .popup-closer2:hover {
  transform: scale(1.3);
}

.popup-wrapper2 .popup2 .popup-content2 h1 {
  font-size: 40px;
  margin-bottom: 40px;
  background-color: grey;
  color: white;
  padding: 20px;
}

.popup-wrapper2 .popup2 .popup-content2 .teacher-info {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 20px;
}

.popup-wrapper2 .popup2 .popup-content2 .teacher-info .all-info {
  margin: 10px 20px;
  line-height: 50px;
}

.popup-wrapper2 .popup2 .popup-content2 .teacher-info .all-info h2 {
  font-size: 40px;
  font-weight: 400;
}

.popup-wrapper2 .popup2 .popup-content2 .teacher-info .all-info h3 {
  font-size: 25px;
  font-weight: 900;
}

.popup-wrapper2 .popup2 .popup-content2 .teacher-info .all-info h4 {
  font-size: 16px;
  font-weight: 100;
}

.popup-wrapper2 .popup2 .popup-content2 .teacher-comment {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 20px;
}

.popup-shower2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 900;
  transition: all 0.5s ease;
  border-bottom: 2px solid;
}

@media only screen and (max-width: 1200px) {
  nav .nav-links ul li {
    margin-right: 20px;
  }

  nav .nav-links ul li a {
    font-size: 25px;
  }

  nav .add-teacher-btn .popup-shower {
    font-size: 25px;
  }
}

@media only screen and (max-width: 992px) {
  header .logo {
    font-size: 20px;
  }

  header .search-bar #searcher {
    width: 250px;
    font-size: 15px;
    margin-right: 20px;
  }

  header .search-bar #searcher:hover {
    width: 300px;
  }

  header .search-bar .search-btn {
    font-size: 15px;
  }

  nav .nav-links ul li {
    margin-right: 15px;
  }

  nav .nav-links ul li a {
    font-size: 20px;
    font-weight: 400;
  }

  nav .add-teacher-btn .popup-shower {
    font-size: 20px;
  }

  nav .add-teacher-btn .popup-content {
    width: 500px;
    height: 700px;
  }

  nav .add-teacher-btn .popup-content .popup-closer {
    font-size: 40px;
  }

  nav .add-teacher-btn .popup-content h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  nav .add-teacher-btn .popup-content form label {
    font-size: 15px;
    margin: 5px 0;
  }

  nav .add-teacher-btn .popup-content form input, nav .add-teacher-btn .popup-content form select, nav .add-teacher-btn .popup-content form textarea {
    padding: 5px;
    font-size: 15px;
  }

  .top-teachers .teachers-title {
    font-size: 25px;
  }

  .top-teachers .sorter form label {
    font-size: 15px;
    margin: 0 10px;
  }

  .top-teachers .sorter form select {
    font-size: 13px;
    padding: 5px;
  }

  .top-teachers .teachers-grid {
    grid-template-columns: auto auto auto;
  }

  .top-teachers .teachers-grid .grid-item h2 {
    font-size: 20px;
  }

  .top-teachers .teachers-grid .grid-item h3 {
    font-size: 15px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 {
    width: 700px;
    height: 500px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .popup-closer2 {
    font-size: 40px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info {
    line-height: 40px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info h2 {
    font-size: 30px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info h3 {
    font-size: 20px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info h4 {
    font-size: 13px;
  }

  .statistics .stat-title {
    font-size: 25px;
  }

  .statistics .stat-data table thead th {
    font-size: 20px;
    padding: 5px 0;
  }

  .statistics .stat-data table tbody td {
    padding: 5px;
  }

  .favorites .favorites-title {
    font-size: 25px;
  }

  .favorites .favorites-grid {
    grid-template-columns: auto auto auto;
  }

  .favorites .favorites-grid .grid-item h1 {
    font-size: 20px;
  }
  
  .favorites .favorites-grid .grid-item h3 {
    font-size: 15px;
  }

  .favorites .favorites-grid .grid-item label {
    font-size: 15px;
  }

  footer .footer-content {
    font-size: 18px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    width: 90%;
  }

  header .search-bar #searcher {
    width: 230px;
    padding: 5px;
    margin-right: 10px;
  }

  header .search-bar #searcher:hover {
    width: 250px;
  }

  header .search-bar .search-btn {
    padding: 10px 15px;
    font-size: 14px;
  }

  nav {
    width: 90%;
  }

  nav .nav-links ul li a {
    font-size: 15px;
    font-weight: 900;
  }

  nav .add-teacher-btn .popup-shower {
    font-size: 15px;
  }

  .top-teachers {
    width: 90%;
  }

  .top-teachers .sorter form label {
    margin: 0 5px;
  }

  .top-teachers .sorter form select {
    padding: 3px;
  }

  .top-teachers .teachers-grid {
    grid-template-columns: auto auto;
  }

  .top-teachers .popup-wrapper2 .popup-content2 {
    width: 550px;
    height: 500px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .popup-closer2 {
    font-size: 30px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info img {
    width: 250px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info {
    line-height: 30px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info h2 {
    font-size: 30px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info h3 {
    font-size: 20px;
  }

  .top-teachers .popup-wrapper2 .popup-content2 .teacher-info .all-info h4 {
    font-size: 13px;
  }

  .favorites .favorites-title {
    font-size: 25px;
  }
  
  .favorites .favorites-grid {
    grid-template-columns: auto auto;
  }

  footer .footer-content {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
